%p
  = _("The following SSH key was deleted by an administrator, %{username}.") % { username: @deleted_by.username }

%ul
  %li
    = @key.title
  %li
    = _("Created on %{created_at}") % { created_at: @key.created_at.to_date.to_s(:medium) }
  - if @key.last_used_at
    %li
      = _("Last used %{last_used_at} ago") % { last_used_at: time_ago_in_words(@key.last_used_at) }

%p
  = html_escape(_("You can create a new %{link}.")) % { link: link_to(_('SSH key'), profile_keys_url.html_safe) }
